@media only screen and (max-width: $breakpoint-sm){
    .shadow{
        width: 25% !important;
    }
    .logo{
        width: 25%;
    }
    .welcome{
        .content{
            p{
                font-size: 1.4em;
            }
        }
    }
    .big_font{
        font-size: 1.5em;
    }
    .box{
        width: 100% !important;
        margin-left: 0;
        h3{
            font-size: 2.1em;
        }
        p{
            padding: 15px 35px;
            font-size: 1.5em;
        }
    }
    .box_form{
        width: 100% !important;
        input{
            width: 100% !important;
        }
    }
    .menu_footer{
        li{
            font-size: 0.8em;
        }
        li+li{
            padding-left: 3%;
        }
    }
}    