@media (max-width: $breakpoint-md){
    .big_font{
        font-size: 1.6em;
    }
    .box{
        width: 48%;
        height: auto;
        h3{
            font-size: 1.4em;
        }
        p{
            padding: 15px 0px;
            font-size: 1em;
        }
    }
    .menu_footer{
        li{
            font-size: 1em;
        }
        li+li{
            padding-left: 5%;
        }
    }
    .menu{
        display: none;
    }
    .welcome .content ul li {
        display: block !important;
        padding: 11px 18px;
    }
    #btn_menu{
        display: block !important;
    }
}    
