//tamaños breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
//colores
$white: white;
$background_form: #273a71;
$btn_submit: #30bae7;
$btn_submit_border:#299ec5;
//fuentes



//tamaños
$air: 3%;
$center: 0 auto;
$li_space: 5.5%;


