* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Titillium Web', sans-serif; }

ul {
  list-style: none; }

h3 {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center; }

p, h2 {
  color: white; }

a {
  text-decoration: none;
  color: white; }

.content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.shadow {
  width: 87px;
  height: 3px;
  margin: 0 auto;
  background-color: black;
  opacity: 0.35; }

.welcome {
  background-color: #87509c; }
  .welcome .content {
    padding-top: 58px;
    padding-left: 42px;
    padding-right: 42px; }
    .welcome .content img {
      width: 117px; }
    .welcome .content ul {
      color: white;
      float: right; }
      .welcome .content ul li {
        display: inline;
        text-transform: uppercase;
        font-size: 14px; }
      .welcome .content ul li + li {
        padding-left: 45px; }
      .welcome .content ul .active {
        background-color: #643a79;
        padding: 11px 18px;
        border-radius: 5px; }
      .welcome .content ul .padding_none {
        padding-left: 27px !important; }
    .welcome .content p {
      color: white;
      text-align: center;
      font-size: 35px; }
    .welcome .content a {
      background-color: #eb7d4b;
      border-bottom: 4px solid #c86a40;
      border-radius: 5px;
      color: white;
      padding: 28px 82px;
      display: inline-block;
      margin: 61px 404px 145px 404px; }

.services {
  background-color: #17c2a4; }
  .services .content {
    padding-top: 58px;
    padding-left: 42px;
    padding-right: 42px; }
    .services .content h2 {
      font-weight: normal;
      text-align: center;
      font-size: 40px; }
    .services .content p {
      text-align: center; }
    .services .content .box {
      width: 260px;
      float: left; }
      .services .content .box .tutulo {
        padding: 15px 72px; }
      .services .content .box p {
        padding: 15px 35px 130px 35px;
        font-size: 13px; }

.getInTouch {
  background-color: #3c5499; }
  .getInTouch .content {
    padding-top: 58px;
    padding-left: 42px;
    padding-right: 42px; }
    .getInTouch .content h2 {
      font-weight: normal;
      text-align: center;
      font-size: 40px; }
    .getInTouch .content p {
      text-align: center; }
    .getInTouch .content #form {
      width: 862px;
      margin: 0 auto; }
      .getInTouch .content #form .background {
        background-color: #273a71;
        border: #273a71; }
      .getInTouch .content #form label {
        color: white;
        margin: 15px 20px; }
      .getInTouch .content #form .box_form {
        width: 430px;
        float: left; }
        .getInTouch .content #form .box_form input {
          width: 413px;
          height: 56px;
          border-radius: 5px; }
        .getInTouch .content #form .box_form .left {
          padding-left: 32px; }
      .getInTouch .content #form textarea {
        width: 100%;
        height: 200px;
        border-radius: 5px; }
      .getInTouch .content #form .submit {
        background-color: #30bae7;
        border-bottom: 4px solid #299ec5;
        border-radius: 5px;
        color: white;
        padding: 28px 82px;
        display: inline-block;
        margin: 61px 300px; }
      .getInTouch .content #form .menu_footer ul {
        color: white;
        float: right; }
        .getInTouch .content #form .menu_footer ul li {
          display: inline;
          text-transform: uppercase;
          font-size: 14px; }
        .getInTouch .content #form .menu_footer ul li + li {
          padding-left: 45px; }

/*# sourceMappingURL=stilos.css.map */
